<h3><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h3>
<h4><%= @game.player_1.name %>: <%= @game.player_1.hitpoints %>hp</h4>
<h4><%= @game.player_2.name %>: <%= @game.player_2.hitpoints %>hp</h4>

<h5>
  <% if @action %>
    <%= @game.opponent.name %> <%= @action %> <%= @game.current_player.name %>!
  <% end %>
</h5>

<p><%= @game.current_player.name %>'s turn</p>
<form class="" action="/attack" method="post">
  <input type="submit" name="action" value="Attack!">
</form>
